<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ETL_Analytics</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="imported-jobs">
                <span class="oi oi-list" aria-hidden="true"></span> Imported Jobs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gantt">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Gantt Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-conflicts">
                <span class="oi oi-warning" aria-hidden="true"></span> Data Conflicts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dtsx-loader-settings">
                <span class="oi oi-cog" aria-hidden="true"></span> DTSX Loader Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dtsx-sql-view">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> DTSX SQL View
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="business-rules">
                <span class="oi oi-script" aria-hidden="true"></span> Business Rules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="db-connections">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DB Connections
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="business-rule-bundles">
                <span class="oi oi-layers" aria-hidden="true"></span> Rule Bundles
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
